body {
    background-image: url("bilder/andreas-selter-fTLUzttoxDU-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.text {
    background-color: white;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
}
ul {
    list-style-position: inside;
}
