body {
    background-image: url("bilder/andreas-selter-fTLUzttoxDU-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
p {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    max-width: 880px;
    margin: auto;
    padding: 5px 5px;
}

img{
    padding-top: 25px;
    padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
    body {
        background-image: none;
        background-color: lightskyblue;
    }
    p {
        width: 80%
    }
}
