body {
    background-image: url("bilder/andreas-selter-fTLUzttoxDU-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
img {
    padding-top: 25px;
    padding-bottom: 10px;
}
p {
    font-size: 25px;
    background-color: white;
    padding: 5px 10px;
    margin: auto;
    max-width: 680px;
}

@media screen and (max-width: 730px) {
    body {
        background-image: none;
        background-color: lightskyblue;
    }
    img {
        width: 90%;
        height: 90%;
    }
    p {
        width: 95%;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-image: none;
        background-color: lightskyblue;
    }
    img {
        width: 50%;
        height: 50%;
    }
    p {
        width: 50%;
    }
}
