body {
    background-image: url("bilder/andreas-selter-fTLUzttoxDU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
img {
    padding-top: 25px;
    padding-bottom: 10px;
}
p {
    font-size: 25px;
    background-color: white;
    padding: 5px 10px;
    margin: auto;
    max-width: 680px;
}