body {
    background-image: url("bilder/andreas-selter-fTLUzttoxDU-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    padding: 5px;
}

img {
    border: 3px solid black;
}
.box {
    background-color: white;
    font-size: 27.5px;
    max-width: 650px;
    padding: 0.5px 25px;
}

@media screen and (max-width: 1008px) {
    body {
        background-image: none;
      background-color: gray;
    }
    .row {
        display: block;
    }
    .box {
      margin:auto;
    }
}