body {
    background-image: url("bilder/andreas-selter-fTLUzttoxDU-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.row {
    display: flex;
    justify-content: center;
}

img {
    padding-top: 25px;
}

.column {
    padding: 5px;
}

p {
    background-color: white;
    font-size: 30px;
    max-width: 600px;
}
